/* 全局樣式 */
.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh; /* 高度始終占滿視窗 */
  background-color: black;
  padding: 20px;
  box-sizing: border-box; /* 包括內邊距和邊框 */
  font-family: Arial, sans-serif;
  text-align: center;
}
/* 登入框 */
.forgot-password-box {
  width: 100%;
  max-width: 400px; /* 最大寬度 */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}
/* 標題 */
.title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 20px;
}

/* 輸入框 */
.input-field {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

/* 按鈕 */
.submit-button {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #3897f0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-button:hover {
  background-color: #3182ce;
}
